/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0,0.1);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*my styles*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 6px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    margin: 15px auto;
    padding: 15px 15px;
    background: rgba(0, 0, 0,0.1);
    overflow: auto;
}

.receiver {
    position: sticky;
    top: 0;
    padding: 5px;
    font-size: 24px;
    color: #F0F8FF;
    background-color: #008B8B;
}

.user-box {
    padding: 5px 15px;
    color: #F0F8FF;
    background-color: #008B8B;
}

.user-box:hover {
    cursor: pointer;
    color: #008B8B;
    background-color: #E6E6FA;
}

.to {
    text-align: right;
    padding: 15px;
    margin-left: 10%;
}

.msg-to {
    padding: 5px 15px;
    color: #008B8B;
    background-color: #E6E6FA;
}

.from {
    padding: 15px;
    margin-right: 10%;
}

.msg-from {
    padding: 5px 15px;
    color: #F0F8FF;
    background-color: #008B8B;
}
